

.child {
    max-width: 100%;
    display: flex;
    justify-content: center;


    transition: transform 1s;
}

.parent:hover .child{
    animation: rotate 1s infinite ;    
}

@keyframes rotate {
    0% {
        transform: translateX(0) translateY(0);
        
    }

    25% {
        transform: translateX(100%) translateY(0);
        
    }

    50% {
        transform: translateX(100%) translateY(100%);
        

    }

    75% {
        transform: translateX(0) translateY(100%);
        
    }
}